$error-colour: #f00;

.search-form {
	padding: 1em;
	text-align: center;

	input {
		-webkit-appearance: none;
		font-size: 2em;
		max-width: 95%;
		padding: 5px;
		text-align: center;
		width: 15em;
	}

	.error {
		color: $error-colour;
	}
}
