<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Search Country/Capital</title>
	<meta name="description" content="Search for a specific country or capital"/>
	<meta property="og:title" content="Country Country/Capital" />
	<meta property="og:description" content="Search for a specific country or capital" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
</head>
<body>
	<main>Loading</main>
</body>
</html>
